/* FONTS START */
@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Light.eot");
  src: url("fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Light.woff2") format("woff2"),
    url("fonts/Raleway-Light.woff") format("woff"),
    url("fonts/Raleway-Light.ttf") format("truetype"),
    url("fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Italic";
  src: url("fonts/Raleway-LightItalic.eot");
  src: url("fonts/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-LightItalic.woff2") format("woff2"),
    url("fonts/Raleway-LightItalic.woff") format("woff"),
    url("fonts/Raleway-LightItalic.ttf") format("truetype"),
    url("fonts/Raleway-LightItalic.svg#Raleway-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Playfair-Display-Bold";
  src: url("fonts/PlayfairDisplay-Bold.eot");
  src: url("fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Bold.woff") format("woff"),
    url("fonts/PlayfairDisplay-Bold.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair-Display-Italic";
  src: url("fonts/PlayfairDisplay-Italic.eot");
  src: url("fonts/PlayfairDisplay-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Italic.woff") format("woff"),
    url("fonts/PlayfairDisplay-Italic.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-BoldItalic")
      format("svg");
  font-style: italic;
}

@font-face {
  font-family: "Playfair-Display-Regular";
  src: url("fonts/PlayfairDisplay-Regular.eot");
  src: url("fonts/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ---------ACROSS PLATFORM EDITS------------ */

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
}

/* responsive image */
img {
  max-width: 100%;
  height: auto;
}

h2 span {
  font-family: "Playfair-Display-Italic";
}

/* -----------------MOBILE-------------------- */

html {
  font-size: 14px;
}

.container {
  max-width: 500px;
  min-width: 100px;
}

h2 {
  font-family: "Playfair-Display-Bold";
  text-align: center;
  font-size: 33px;
}

/* TOP/NAVBAR */

.nav-bar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo {
  order: 1;
  margin: 10px;
}

.logo img {
  height: 45px;
}

.cart {
  order: 2;
  margin: 10px;
}

.cart img {
  height: 50px;
}

.top-navigation {
  order: 3;
  border-top: 1px solid #d7d7d7;
  width: 100%;
  padding: 0 7%;
  margin: 0 10px;
}

.top-navigation li a,
.top-navigation li {
  text-decoration: none;
  font-weight: bolder;
  font-size: 14px;
  align-content: center;
  color: #e2574c;
  text-transform: uppercase;
}

.top-navigation ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* MAIN BANNER */

.main-banner {
  text-align: center;
  color: #ffffff;
  font-family: "Raleway";
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(./images/banner-girl.png) no-repeat center bottom,
    url(./images/flower-bkgd.jpg) repeat-x;
  background-size: cover, 150px;
  background-position: 0, center 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-banner h5 {
  font-size: 17px;
  font-weight: bolder;
  padding-bottom: 15px;
}

h1 {
  font-family: "Playfair-Display-Regular";
  font-size: 35px;
}

/* ABOUT */

.about {
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  padding: 0 15px;
}
.about h2 {
  padding-bottom: 35px;
}

/* SHOP */

.shop h4 a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  color: white;
  font-family: "Raleway";
}

.shop {
  display: flex;
  flex-wrap: wrap;
}

.shop-img {
  width: 47.5%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.wide {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.shop h4 {
  position: absolute;
  z-index: 1000;
  padding: 5px;
}

/* WHAT JIM CHANGED */

.shop img {
  height: auto;
  width: 100%;
  position: relative;
}

.shop figure::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}
/* WHAT JIM CHANGED */

/* CAROUSEL */

.main-carousel .carousel-cell {
  width: 100%;
  height: auto;
}

/* UPDATES */

.updates {
  width: 100%;
  height: 335px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(./images/wave-bkgd.jpg) no-repeat center bottom;
}

.updates p {
  line-height: 2em;
  margin: 20px;
  text-align: center;
}

.updates input[type="email"] {
  border-radius: 25px;
  width: 350px;
  padding: 15px;
  border: none;
}

.updates button {
  border-radius: 20px;
  margin-left: -110px;
  margin-top: 15px;
  background: #e2574c;
  color: white;
  padding: 10px 20px;
  border: none;
  font-family: "Raleway";
}

/* FOOTER */
.info {
  background: #242424;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 300px;
  margin-top: 10px;
  font-family: "Playfair-Display-Regular";
  padding-bottom: 20px;
  padding-top: 35px;
}

.info p {
  align-content: center;
  margin: 15px 0;
  line-height: 20px;
}

.address {
  color: #969696;
}

.info a {
  color: white;
}

.info i span {
  display: none;
}

.info ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0 35%;
  margin-bottom: 10%;
  padding-top: 20px;
}

/* ADD DISPLAY NONE WHEN TAKING OUT THE TEXT FOR ICONS OF SOCIAL MEDIA MOBILE */

/* ----------------TABLET---------------------- */

@media all and (min-width: 480px) {
  /* PAGE EDITS */

  html {
    font-size: 16px;
  }
  .container {
    max-width: 600px;
    min-width: 500px;
  }

  /* TOP NAVBAR */

  .nav-bar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  .logo {
    order: 1;
    margin: 10px;
    margin-right: 0;
  }

  .logo img {
    height: 45px;
    /* margin: 7px; */
  }

  .top-navigation {
    order: 2;
    border: none;
    width: 50%;
    margin: 0;
    padding: 0;
  }

  .top-navigation li a,
  .top-navigation li {
    font-size: 15px;
  }

  .cart {
    order: 3;
    margin-left: 10%;
  }

  .cart img {
    height: 45px;
  }

  /*  */

  .main-carousel .carousel-cell {
    width: 50%;
    height: auto;
  }
}

/* -------------DESKTOP--------------- */

@media all and (min-width: 600px) {
  /* PAGE EDITS */

  .container {
    max-width: 1240px;
    min-width: 100px;
  }

  .main-carousel .carousel-cell {
    width: 25%;
    height: auto;
  }
}
