/* FONTS START */
@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Light.eot');
  src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-Light.woff2') format('woff2'),
    url('fonts/Raleway-Light.woff') format('woff'),
    url('fonts/Raleway-Light.ttf') format('truetype'),
    url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Italic';
  src: url('fonts/Raleway-LightItalic.eot');
  src: url('fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-LightItalic.woff2') format('woff2'),
    url('fonts/Raleway-LightItalic.woff') format('woff'),
    url('fonts/Raleway-LightItalic.ttf') format('truetype'),
    url('fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair-Display-Bold';
  src: url('fonts/PlayfairDisplay-Bold.eot');
  src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
    url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
    url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair-Display-Italic';
  src: url('fonts/PlayfairDisplay-Italic.eot');
  src: url('fonts/PlayfairDisplay-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
    url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
    url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-BoldItalic')
      format('svg');
  font-style: italic;
}

@font-face {
  font-family: 'Playfair-Display-Regular';
  src: url('fonts/PlayfairDisplay-Regular.eot');
  src: url('fonts/PlayfairDisplay-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
    url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
    url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ---------ACROSS PLATFORM EDITS------------ */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway';
  color: #2d2d2d;
}

/* responsive image */
img {
  max-width: 100%;
  height: auto;
}

h2 span {
  font-family: 'Playfair-Display-Italic';
}

/* -----------------MOBILE-------------------- */

/* GENERAL EDITS MOBILE */

html {
  font-size: 14px;
}

.container {
  max-width: 500px;
  min-width: 100px;
}

h2 {
  font-family: 'Playfair-Display-Bold';
  text-align: center;
  font-size: 33px;
}

/* TOP/NAVBAR MOBILE */

.nav-bar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo {
  order: 1;
  margin: 10px;
}

.logo img {
  height: 45px;
}

.cart {
  order: 2;
  margin: 10px;
}

.cart img {
  height: 50px;
}

.top-navigation {
  order: 3;
  border-top: 1px solid #d7d7d7;
  width: 100%;
  padding: 0 7%;
  margin: 0 10px;
}

.top-navigation a:hover {
  color: #b64036;
}

.top-navigation li a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 14px;
  align-content: center;
  color: #e2574c;
  text-transform: uppercase;
}

.top-navigation ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* MAIN BANNER MOBILE */

.main-banner {
  text-align: center;
  color: #ffffff;
  font-family: 'Raleway';
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(./images/banner-girl.png) no-repeat center bottom,
    url(./images/flower-bkgd.jpg) repeat-x;
  background-size: cover, 150px;
  background-position: 0, center 60px;
  display: flex;
  text-shadow: 1px 1px 2px #575454;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-banner h5 {
  font-size: 17px;
  font-weight: bolder;
  padding-bottom: 15px;
}

h1 {
  font-family: 'Playfair-Display-Regular';
  font-size: 35px;
  padding: 0 30%;
}

/* ABOUT MOBILE */

.about {
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  padding: 0 15px;
}
.about h2 {
  padding-bottom: 35px;
}

/* SHOP MOBILE*/

.shop h4 a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  color: white;
  font-family: 'Raleway';
  text-shadow: 1px 1px 2px #575454;
}

.shop h4 a:hover {
  color: rgb(241, 241, 180);
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-img {
  width: 49%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}

.wide {
  width: 100%;
  height: auto;
}

.shop h4 {
  position: absolute;
  z-index: 1000;
}

.shop img {
  height: auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.shop figure::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

/* CAROUSEL MOBILE */

.featured {
  height: 700px;
  font-family: 'Raleway';
}

.main-carousel .carousel-cell {
  width: 100%;
  height: auto;
  text-align: center;
}

.carousel-cell {
  padding-bottom: 50px;
}

.flickity-button {
  display: none;
}

.featured h2 {
  padding: 65px 0;
}

.featured h4 {
  color: #e2574c;
  font-family: 'Playfair-Display';
  font-size: 25px;
}

.product-description {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bolder;
  padding-bottom: 20px;
  color: #969696;
}

.product-price {
  font-size: 14px;
  padding: 15px 0;
  font-weight: bolder;
  color: #969696;
}

/* UPDATES MOBILE */

.updates {
  width: 100%;
  height: 335px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(./images/wave-bkgd.jpg) no-repeat center bottom;
  text-shadow: 1px 1px 2px #575454;
}

.updates p {
  line-height: 30px;
  margin: 20px;
  font-size: 16px;
  text-align: center;
}

.updates input[type='email'] {
  border-radius: 25px;
  width: 350px;
  padding: 15px;
  border: none;
  font-family: 'Raleway';
}

.updates button {
  border-radius: 20px;
  margin-left: -110px;
  margin-top: 15px;
  background: #e2574c;
  color: white;
  padding: 10px 20px;
  border: none;
  font-family: 'Raleway';
}

/* FOOTER MOBILE */

.info {
  background: #242424;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 300px;
  margin-top: 10px;
  font-family: 'Playfair-Display-Regular';
  padding-bottom: 20px;
  padding-top: 35px;
}

.info p {
  align-content: center;
  margin: 15px 0;
  line-height: 20px;
}

.address {
  color: #969696;
}

.info a {
  color: white;
}

.icons a:hover {
  color: #b64036;
}

.footer-paragraphs a:hover {
  color: #b64036;
}

.info span {
  display: none;
}

.info ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0 35%;
  margin-bottom: 10%;
  padding-top: 20px;
}

/* ADD DISPLAY NONE WHEN TAKING OUT THE TEXT FOR ICONS OF SOCIAL MEDIA MOBILE */

/* ----------------TABLET---------------------- */

@media all and (min-width: 500px) {
  /* PAGE EDITS TABLET */

  html {
    font-size: 16px;
  }
  .container {
    max-width: 800px;
  }

  h2 {
    font-size: 40px;
  }

  /* TOP NAVBAR TABLET */

  .nav-bar-top {
    height: 80px;
  }

  .logo {
    order: 1;
    margin-right: 0;
  }

  .top-navigation {
    order: 2;
    border: none;
    width: 50%;
    margin: 0;
    padding: 0;
  }

  .top-navigation li a {
    font-size: 15px;
  }

  .cart {
    order: 3;
    margin-left: 10%;
  }

  .cart img {
    height: 45px;
  }

  /* BANNER TABLET */

  h1 {
    font-size: 48px;
    padding: 0;
  }

  .main-banner h5 {
    font-size: 20px;
  }

  /* ABOUT TABLET */

  .about {
    height: 300px;
  }

  .about p {
    font-size: 18px;
  }

  /* SHOP TABLET*/

  .shop h4 a {
    font-size: 27px;
  }

  .shop-img {
    width: 24%;
  }

  .wide {
    width: 49.3%;
  }

  /* CAROUSEL TABLET */

  .main-carousel .carousel-cell {
    width: 50%;
  }

  .featured {
    height: 600px;
  }

  .carousel-cell img {
    height: 50vh;
  }

  /* UPADATES TABLET */

  .updates {
    height: 375px;
  }

  .updates h2 {
    padding: 30px 0;
  }

  .updates p {
    line-height: 40px;
    margin: 0 2px;
    font-size: 18px;
  }

  /* FOOTER TABLET */

  .info {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    height: 285px;
    padding: 0 20px;
    margin: 0;
    margin-top: 10px;
  }

  .info p {
    margin: 0;
    padding: 10px 0;
  }

  .icons span {
    display: initial;
    font-family: 'Raleway';
    padding-left: 15px;
  }

  .info ul {
    flex-direction: column;
    line-height: 35px;
    margin: 0;
    padding: 0;
  }
}

/* -------------DESKTOP--------------- */

@media all and (min-width: 1240px) {
  /* PAGE EDITS DESKTOP */

  .container {
    max-width: 1240px;
  }

  /* NAVBAR DESKTOP */

  .nav-bar-top {
    height: 100px;
  }

  .logo {
    margin: 0 35px;
  }

  .logo img {
    height: 60px;
  }

  .cart img {
    height: 60px;
  }

  .top-navigation {
    padding: 0 9%;
    margin: 0 10px;
  }

  .top-navigation li a {
    font-size: 16px;
  }

  /* MAIN BANNER DESKTOP */

  .main-banner {
    height: 550px;
    background-size: cover, 250px, contain;
    background-position: 0, center 60px;
    text-shadow: 2px 2px 2px #575454;
  }

  .main-banner h5 {
    font-size: 20px;
    padding-bottom: 20px;
  }

  h1 {
    font-size: 65px;
  }

  /* ABOUT DESKTOP */

  .about {
    height: 260px;
    padding: 0 23%;
  }

  /* SHOP DESKTOP */

  .shop h4 a {
    font-size: 37px;
    text-shadow: 2px 2px 2px #575454;
  }

  .shop-img {
    width: 24.5%;
    margin-top: 7px;
    border: none;
  }

  .wide {
    width: 49.7%;
  }

  /* CAROUSEL DESKTOP */

  .main-carousel .carousel-cell {
    width: 25%;
    height: auto;
  }

  .carousel-cell {
    padding-bottom: 40px;
  }

  .carousel-cell img {
    height: 40vh;
  }

  .featured {
    height: 630px;
  }

  .product-description {
    font-size: 12px;
    padding: 15px 0;
  }

  .product-price {
    font-size: 15px;
    padding: 15px 0;
  }

  /* UPDATES DESKTOP */

  .updates {
    padding: 0 24%;
    font-size: 18px;
  }

  .updates input[type='email'] {
    width: 450px;
    height: 50px;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 16px;
  }

  .updates button {
    padding: 12px 26px;
    margin-left: -130px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bolder;
  }

  /* FOOTER DESKTOP */

  .info {
    padding: 0 100px 0 45px;
    text-shadow: 2px 2px 2px #575454;
  }

  .info p {
    line-height: 23px;
  }
}
